@model Employee

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title= "Employee Details";
}

<table style="border:double">
    <thead style="border:double">
        <tr>
            <td style="border:double">
                EmpId
            </td>
            <td style="border:double">
                Employee Name
            </td>
            <td style="border:double">
                Employee Department
            </td>
            <td style="border:double">
                Employee Email
            </td>
        </tr>
    </thead>

    <tbody style="border:double">

        <tr>
            <td style="border:double">
                @Model.Id
            </td>
            <td style="border:double">
                @Model.Name
            </td>
            <td style="border:double">
                @Model.Department
            </td>
            <td style="border:double">
                @Model.Email
            </td>
        </tr>
    </tbody>
</table>