@model IEnumerable<Employee>

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";//not required here as already defined in the _viewstart
    ViewBag.Title= "Employee List";
}

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Department</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody style="border:dotted">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Department</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>