<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <table>
        <tr>
            <td colspan="2" style="border:double">-----------------------My Header-------------------------</td>
        </tr>
        <tr >
            <td style="border:double">Left Menu</td>
            <td style="border:double">
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border:double">-----------------------My Footer-------------------------</td>
        </tr>

    </table>

    <div>
    </div>
</body>
</html>
