@model Weapon

<div class="card" style="width: 22rem;border-color:lightsalmon;height:20rem">
    <img src=@Model.ImageUrl class="card-img-top" style="max-height:200px;" />
    <div class="card-body">
        <h6 class="float-right"> @Model.Price.ToString("c")</h6>
        <a href="#" class="card-title">@Model.Name</a>
        <p class="card-text">@Model.Description</p>
    </div>
</div>